<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC
		   "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		   
<mapper namespace="room_mapper">

	<!-- <insert id="saveRoom" parameterType="com.app.dto.room.Room"> -->
	<insert id="saveRoom" parameterType="Room">
		INSERT INTO T_ROOM
		VALUES (
			SEQ_T_ROOM_PK.NEXTVAL,
			#{buildingName},
			#{roomNumber},
			#{floor},
			#{maxGuestCount},
			#{viewType}
		)
	</insert>
	
	<select id="findRoomList" resultType="Room">
		SELECT * 
		FROM T_ROOM
		ORDER BY ROOM_ID
	</select>

	<select id="findRoomByRoomId" resultType="Room" parameterType="int">
		SELECT *
		FROM T_ROOM
		WHERE ROOM_ID = #{roomId}
	</select>
	
	<delete id="removeRoom" parameterType="int">
		DELETE FROM T_ROOM
		WHERE ROOM_ID = #{roomId}
	</delete>
	
	<update id="modifyRoom" parameterType="Room">
		UPDATE T_ROOM
		SET 
			BUILDING_NAME = #{buildingName},
			ROOM_NUMBER = #{roomNumber},
			FLOOR = #{floor},
			MAX_GUEST_COUNT = #{maxGuestCount},
			VIEW_TYPE = #{viewType}
		WHERE ROOM_ID = #{roomId}
	</update>
	
	<select id="findRoomListBySearchCondition" parameterType="RoomSearchCondition" resultType="Room">
		SELECT *
		FROM T_ROOM
		<where>
			<if test="searchKeyword != null and searchKeyword !=''">
				BUILDING_NAME LIKE '%' || #{searchKeyword} || '%'
			</if>
			<if test="viewType != null and viewType != ''">
				AND VIEW_TYPE = #{viewType}
			</if> 
		</where>
		ORDER BY ROOM_ID
	</select>
</mapper>